body{
    background-color:rgb(164, 205, 216);
}

#score{
    margin-left:20px;
    font-size:30px;
}

#timer{
    float:right;
    margin-right:20px;
    font-size:30px;
}

p{
    font-size:20px;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration:6s;
    margin-top:50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(156, 78, 230)}
    to{box-shadow: 1px 1px 38px rgb(130, 191, 207)}
}